<section class="contact-section">
    <div class="container">
        <div class="header-1">
            
            <div class="header-2">
                <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
            <div class="line-4"></div>
                <h2>contact us</h2>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-6">
                <form action="" class="" [formGroup]="registerForm"  (ngSubmit)="register()"
                >
                    <input type="email" placeholder="email" class="form-control mb-1" formControlName="email">
                    <div class="alert alert-danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.status == 'INVALID'">
                        <p *ngIf="registerForm.get('email')?.getError('required')">Email is required</p>
            
                        
                        <p *ngIf="registerForm.get('email')?.getError('pattern')">test@gmail.com</p>
                   
                      
                        
                    </div>
                    <input type="tel" placeholder="phone" class="form-control mb-1" formControlName="phone">
                    <div class="alert alert-danger" *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.status == 'INVALID'">
                        <p *ngIf="registerForm.get('phone')?.getError('required')">Phone is required</p>
                        
                   
                        <p *ngIf="registerForm.get('phone')?.getError('pattern')">Invalid</p>
                    </div>
                    <input type="name" placeholder="name" class="form-control mb-1" formControlName="name">
                    <div class="alert alert-danger" *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.status == 'INVALID'">
                        <p *ngIf="registerForm.get('name')?.getError('minlength')">(a-b) minLength 3 </p>
                         
                    
                         <p *ngIf="registerForm.get('name')?.getError('required')">User Name is required</p>
                         
                    
                         <p *ngIf="registerForm.get('name')?.getError('maxlength')">(a-b) maxLength 20 </p>
                    </div>
                    <div class="testimonial-btn text-center">
                        <button type="submit" >send</button>
                    </div>
                </form>
               
            </div>
            <div class="col-md-6 flex">
                <div class="tel">
                    <p><span><i class="fa-solid fa-envelope fa-lg" style="color: #3369c7;"></i></span>upskilling@hhh.com</p>
                    <p><span><i class="fa-solid fa-phone fa-lg" style="color: #19489a;"></i></span>014556666666</p>
                     
                </div>
            </div>
            
               
            
        </div>
    </div>
</section>











<!-- <div class="alert alert-danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.status == 'INVALID'">
    <p *ngIf="registerForm.get('email')?.getError('required')">Email is required</p>

</div>
<div class="alert alert-danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.status == 'INVALID'">
    
    <p *ngIf="registerForm.get('email')?.getError('pattern')">test@gmail.com</p>
      
</div>
<div class="alert alert-danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.status == 'INVALID'">
   
    <p *ngIf="registerForm.get('email')?.getError('email')">Email invalid</p>
    
</div> -->
<!-- <div class="alert alert-danger" *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.status == 'INVALID'">
    <p *ngIf="registerForm.get('phone')?.getError('required')">Phone is required</p>
    
</div>
<div class="alert alert-danger" *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.status == 'INVALID'">

    <p *ngIf="registerForm.get('phone')?.getError('pattern')">Invalid</p>
</div> -->
<!-- <div class="alert alert-danger" *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.status == 'INVALID'">
    <p *ngIf="registerForm.get('name')?.getError('minlength')">minLength 3 </p>
     
</div>
<div class="alert alert-danger" *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.status == 'INVALID'">
   
     <p *ngIf="registerForm.get('name')?.getError('required')">User Name is required</p>
     
</div>
<div class="alert alert-danger" *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.status == 'INVALID'">
   
     <p *ngIf="registerForm.get('name')?.getError('maxlength')">maxLength 20 </p>
</div> -->