<section class="about-us">
    <div class="svg">
      <svg xmlns="http://www.w3.org/2000/svg" width="70%" height="100%" viewBox="0 0 70% 100%" fill="none">
        <path d="M558.598 0.0959473H1259V840H0L443.36 71.6682C443.36 71.6682 466.775 32.8108 488.594 16.6126C514.043 -2.28033 558.598 0.0959473 558.598 0.0959473Z" fill="#6D91EE"/>
      </svg>
    </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="left">
                  <div class="left-content">
                    <h2>about us</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis officiis cumque
                       doloribus aperiam aliquam laboriosam molestias rerum repudiandae illum alias?</p>
                       <div class="left-content-img ">
                        <img src="assets/Rectangle 263.png" alt="">
                       </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
               <div class="right">
                <div class="right-content">
                  <h2>where</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, 
                    fuga! Assumenda optio, culpa cupiditate aspernatur unde alias 
                    deserunt error reiciendis molestias. Doloremque animi sapientereiciendis molestias. Doloremque animi sapientereiciendis 
                    reiciendis molestias. Doloremque animi sapiente
                    molestias. molestias. Doloremque animi sapiente, quaerat illo porro quo facilis minus!</p>
                </div>
               </div>
              </div>
            </div>
            <div class="row">
                <div class="about-us-button">
                    <button class="button">help me</button>
                  </div>
            </div>
          </div>
  </section>
