



@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap");


@font-face{
    font-family: "Poppins";
    src: url(../../assets/Poppins/Poppins-Regular.ttf);
}

$main-font:"Poppins";
$sec-font:sans-serif;


h2{
    font-size: 3rem;
    font-weight: 900;
    color: $color-primary;
    padding: .2rem 4rem;
   
      
}